<!DOCTYPE html>
<html lang="en" data-bs-theme="light" {{#if dataTheme}} data-theme="{{dataTheme}}" {{/if}}>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="FlexinOffice es una oficina virtual que potencia la comunicación del equipo y permite integrar agentes de IA mediante Cloud Code con contenedores Docker.">
    <meta name="keywords"
        content="FlexinOffice, oficina virtual, comunicación, Cloud Code, agentes de IA, productividad">
    <meta name="author" content="bplugins">
    <title>{{title}}</title>
    <link rel="icon" href="{{root}}assets/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="{{root}}assets/css/bootstrap.css">
    <link rel="stylesheet" href="{{root}}assets/css/bootstrap-icons.css">
    <link rel="stylesheet" href="{{root}}assets/css/simplebar.css">
    <link rel="stylesheet" href="{{root}}assets/css/swiper-bundle.css">
    <link rel="stylesheet" href="{{root}}assets/css/ff-1.css">
    <link rel="stylesheet" href="{{root}}assets/css/ff-2.css">
    <link rel="stylesheet" href="{{root}}assets/css/prism.css">
    <link rel="stylesheet" href="{{root}}assets/css/style.css">
</head>

<body {{#if bodyClass}} class="{{bodyClass}}" {{/if}}>
    {{#if navbar}}
    {{> "header"}}
    {{/if}}

    {{> "preloader"}}

    <div id="smooth-wrapper">
        <div id="smooth-content">
            {{>body}}
        </div>
    </div>
    <!-- Scripts -->
    <script src="{{root}}assets/js/bootstrap.bundle.js"></script>
    <script src="{{root}}assets/js/iconify.js"></script>
    <script src="{{root}}assets/js/simplebar.js"></script>
    <script src="{{root}}assets/js/swiper.js"></script>
    <script src="{{root}}assets/js/prism.js"></script>
    <script src="{{root}}assets/js/gsap.min.js"></script>
    <script src="{{root}}assets/js/ScrollTrigger.min.js"></script>
    <script src="{{root}}assets/js/Flip.min.js"></script>
    <script src="{{root}}assets/js/DrawSVGPlugin.min.js"></script>
    <script src="{{root}}assets/js/SplitText.min.js"></script>
    <script src="{{root}}assets/js/ScrollSmoother.min.js"></script>
    <script src="{{root}}assets/js/app.js"></script>
</body>

</html>